.navbar-container {
  width: 100%;
  background-color: #000;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.nav h1 {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.left p {
  margin: 0;
  cursor: pointer;
}

.left button {
  padding: 0.5rem 1rem;
  background-color: rgb(10, 112, 146);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .left {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
  }

  .left.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
